@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    scroll-behavior: smooth;
}

:root {
    --primary: #C49667;
}

body{
    background: url(../img/background-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.global-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

/* indice */

.indice-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background: transparent;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    cursor: pointer;
    z-index: 9999;
}

.indice{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 100px;
    color: #000;
    opacity: 0;
    margin: 10px;
    height: 50px;
    z-index: 9999;
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #000;
}

.indice.on{
    animation: indiceDrop 1s forwards;
    transition: .3s;
}

@keyframes indiceDrop {
    0%{right: 0; opacity: 0;}
    50%{opacity: 0;}
    100%{right: 60px; opacity: 1;}
}

.indice-btn:hover{
    box-shadow:
        0 0 5px #000,
        0 0 10px #000,
        0 0 20px #000,
        0 0 40px #000;
}

/* le pendu */

.global-body-part{
    width: 50%;
}

.global-body-part img{
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 0;
}

.global-word-part{
    width: 50%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

/* le mot */

.word-part{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 2rem;
}

.mot-trouver{
    color: #3b8d4d;
    text-shadow:
        0 0 5px #6eda85,
        0 0 10px #6eda85,
        0 0 20px #6eda85,
        0 0 40px #6eda85;
    
}

.mot-non-trouver{
    color: #a11a1a;
    text-shadow:
        0 0 5px #c32323,
        0 0 10px #c32323,
        0 0 20px #c32323,
        0 0 40px #c32323;
}

.space{
    padding-left: 5px;
    padding-right: 5px;
}

.line-1,
.line-2,
.line-3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

.line-1 .disabled,
.line-2 .disabled,
.line-3 .disabled{
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}


button{
    padding: 1rem;
    background: url(../img/lettre.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: .2s;
    opacity: 0.8;
    box-shadow:
        0 0 5px #efa2a3,
        0 0 10px #efa2a3,
        0 0 20px #efa2a3,
        0 0 40px #efa2a3;
    z-index: 99999;
}

button:hover{
    opacity: 1;
    box-shadow:
        0 0 20px #fff,
        0 0 40px #fff,
        0 0 60px #fff,
        0 0 100px #fff;
    text-shadow:
        0 0 20px #fff,
        0 0 40px #fff,
        0 0 60px #fff,
        0 0 100px #fff;
}

.btn-perdu{
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

/* resultat */

.result-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    background: url(../img/wood.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    border-radius: 10px;
    font-size: 2rem;
    opacity: 0;
    width: auto;
    padding: 1rem 2rem;

    transform-origin: 10px 10px;
    animation: drop 0.5s forwards;
    z-index: 99999999;
    box-shadow:
        0 0 20px #efa2a3,
        0 0 40px #efa2a3,
        0 0 60px #efa2a3,
        0 0 100px #efa2a3;
}

@keyframes drop{
    0% {padding: 1rem; opacity: 0;}
    100% {padding: 2rem; opacity: 1;}
}

.result-container h1{
    font-size: 2rem;
}

.result-container h2{
    font-size: 1.5rem;
}

.result-container p{
    font-size: 1rem;
}

.result-container a{
    text-decoration: none;
    color: #fff;
    text-shadow:
        0 0 20px #efa2a3,
        0 0 40px #efa2a3,
        0 0 60px #efa2a3,
        0 0 100px #efa2a3;
    cursor: pointer;
    transition: .3s;
}

.result-container a:hover{
    text-shadow:
        0 0 40px #efa2a3,
        0 0 80px #efa2a3,
        0 0 120px #efa2a3,
        0 0 200px #efa2a3;
}

.result-container .fin-partie{
    margin-bottom: 50px;
    padding-bottom: 5px;
    border-bottom: 1px solid #efa2a3;
}

.span-perdu{
    text-shadow:
        0 0 5px #c32323,
        0 0 10px #c32323,
        0 0 20px #c32323,
        0 0 40px #c32323;
}

.span-gagner{
    text-shadow:
        0 0 5px #6eda85,
        0 0 10px #6eda85,
        0 0 20px #6eda85,
        0 0 40px #6eda85;
}

/* Triche Page */

.global-triche {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    background: url(../img/background-1.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.triche-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.triche-page h1{
    font-size: 4rem;
    text-align: center;
    text-shadow:
        0 0 5px #2e2b2b,
        0 0 5px #2e2b2b,
        0 0 10px #2e2b2b,
        0 0 20px #2e2b2b;
    color: #fff;
}

.triche-page h3{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    text-shadow:
        0 0 5px #2e2b2b,
        0 0 10px #2e2b2b,
        0 0 20px #2e2b2b,
        0 0 40px #2e2b2b;
    color: #fff;
}

.triche-page a{
    background: #fff;
    color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    transition: .3s;
    box-shadow:
        0 0 5px #2e2b2b,
        0 0 10px #2e2b2b,
        0 0 20px #2e2b2b,
        0 0 40px #2e2b2b;
}

.triche-page a:hover {
    background: #000;
    color: #fff;
}