@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    scroll-behavior: smooth;
}

:root {
    --primary: #C49667;
}

body{
    background: url(../img/background-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.global-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.indice-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background: none;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.indice{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    background: #000;
    color: #fff;
    opacity: 0;
    z-index: 9999;
}

.indice.on{
    opacity: 1;
}

.indice-btn:hover{
    padding: auto;
    width: 70px;
    height: 70px;
}
.global-body-part{
    width: 50%;
}

.global-body-part img{
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 0;
}

.global-word-part{
    width: 50%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.word-part{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 2rem;
}

.mot-trouver{
    color: #3b8d4d;
    text-shadow:
        0 0 5px #6eda85,
        0 0 10px #6eda85,
        0 0 20px #6eda85,
        0 0 40px #6eda85;
    
}

.mot-non-trouver{
    color: #a11a1a;
    text-shadow:
        0 0 5px #c32323,
        0 0 10px #c32323,
        0 0 20px #c32323,
        0 0 40px #c32323;
}

.space{
    padding-left: 5px;
    padding-right: 5px;
}

.line-1,
.line-2,
.line-3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

.line-1 .disabled,
.line-2 .disabled,
.line-3 .disabled{
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}


button{
    padding: 1rem;
    background: url(../img/wood.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: .2s;
    opacity: 0.8;
    text-shadow:
        0 0 5px #efa2a3,
        0 0 10px #efa2a3,
        0 0 20px #efa2a3,
        0 0 40px #efa2a3;
}

button:hover{
    padding: 1.5rem;
    opacity: 1;
    text-shadow:
        0 0 20px #efa2a3,
        0 0 40px #efa2a3,
        0 0 60px #efa2a3,
        0 0 100px #efa2a3;
}

.btn-perdu{
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.result-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: #000;
    color: #fff;
    padding: 5rem;
    border-radius: 10px;
    font-size: 2rem;
    opacity: 0;

    transform-origin: 10px 10px;
    animation: drop 0.5s forwards;
    z-index: 99999999;
}

@keyframes drop{
    0% {padding: 5rem; opacity: 0;}
    100% {padding: 7rem; opacity: 1;}
}

@keyframes swing{
    0% {transform: translate(-50%, -50%) rotateZ(0deg);}
    50% {transform: translate(-50%, -50%) rotateZ(80deg);}
    70% {transform: translate(-50%, -50%) rotateZ(70deg);}
    100%{transform: translate(-50%, -50%) rotateZ(75deg);}
}