@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    scroll-behavior: smooth;
}

:root {
    --primary: #C49667;
}

body{
    background: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 200vh;
}

.spark {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #efa2a3;
    pointer-events: none;
    mix-blend-mode: screen;
    transform: translate(-50%, -50%);
    will-change: transform, opacity;
    animation: spark-fade 0.6s forwards;
}

@keyframes spark-fade {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
}

/* Bouton */

.back-btn-1 {
    position: absolute;
    top: 100;
    left: 0;
    margin: 20px;
    padding: 20px 24px;
    background: none;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    color: #fff;
    z-index: 999;
    text-decoration: none;
}

.back-btn-2 {
    position: absolute;
    top: 200;
    left: 0;
    margin: 20px;
    padding: 20px 24px;
    background: none;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    color: #fff;
    z-index: 999;
    text-decoration: none;
}

.back-btn-3 {
    position: absolute;
    top: 100;
    left: 0;
    margin: 20px;
    padding: 20px 24px;
    background: none;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    color: #fff;
    z-index: 999;
    text-decoration: none;
}

.back-btn-1:hover,
.back-btn-2:hover,
.back-btn-3:hover {
    color: #000;
    border: 1px solid #000;
}

.back-btn-2:hover{
    color: #efa2a3;
    border: 1px solid #efa2a3;
}

/* Welcome Page */

.welcome-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    background: url(../img/background-1.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.welcome-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.welcome-page h1{
    font-size: 4rem;
    text-align: center;
    text-shadow:
        0 0 5px #2e2b2b,
        0 0 5px #2e2b2b,
        0 0 10px #2e2b2b,
        0 0 20px #2e2b2b;
    color: #fff;
}

.welcome-page h3{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    text-shadow:
        0 0 5px #2e2b2b,
        0 0 10px #2e2b2b,
        0 0 20px #2e2b2b,
        0 0 40px #2e2b2b;
    color: #fff;
}

.welcome-page a{
    background: #fff;
    color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    transition: .3s;
    box-shadow:
        0 0 5px #2e2b2b,
        0 0 10px #2e2b2b,
        0 0 20px #2e2b2b,
        0 0 40px #2e2b2b;
}

.welcome-page a:hover {
    background: #000;
    color: #fff;
}

/* Game Page */

.game-page {
    position: relative;
    height: 100vh;
    width: 150vw;
    display: flex;
}

/* Menu */

.menu-page {
    position: relative;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;

    background: url(../img/background-2.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.menu-start {
    background: url(../img/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: -500px;
    opacity: 0;

    padding: 3rem;
    width: 500px;
    height: 700px;
    border-radius: 10px;
    margin-left: 10rem;
}

.menu-start.visible{
    animation: apparition 1s forwards;
}

@keyframes apparition {
    0% {top: -250px; opacity: 0;}
    50% {opacity: 0.3;}
    100% {top: 0; opacity: 100;}
}

.btn-configuration{
    margin-top: 16rem;
}

.menu-start button, 
.menu-start a{
    display: flex;
    font-size: 3rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    margin-bottom: 44px;
    text-shadow:
        0 0 5px #efa2a3,
        0 0 10px #efa2a3,
        0 0 20px #efa2a3,
        0 0 40px #efa2a3;
}

.menu-start button:hover, 
.menu-start a:hover{
    text-shadow:
        0 0 20px #efa2a3,
        0 0 40px #efa2a3,
        0 0 60px #efa2a3,
        0 0 100px #efa2a3;
    color: #fff;
}

/* Configuration Page */

.configuration-page {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50vw;
    padding: 20px 3rem 20px 3rem;

    background: url(../img/wood.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-left: 5px solid #000;

    transform: translateX(100%);
    transition: transform 0.35s ease, opacity 0.35s ease;
    z-index: 9999;
}

.configuration-page.on{
    transform: translateX(0);
}

.configuration-page .titre {
    font-size: 2rem;
    color: #fff;
    text-shadow:
        0 0 5px #efa2a3,
        0 0 10px #efa2a3,
        0 0 20px #efa2a3,
        0 0 40px #efa2a3;
}

.titre-configuration{
    font-size: 20px;
    color: #fff;
    text-shadow:
        0 0 5px #efa2a3,
        0 0 10px #efa2a3,
        0 0 20px #efa2a3,
        0 0 40px #efa2a3;
}

.sous-titre-theme{
    color: #d4d4d4;
    margin-bottom: 10px;
    text-shadow:
        0 0 5px #efa2a3,
        0 0 10px #efa2a3,
        0 0 20px #efa2a3,
        0 0 40px #efa2a3;
}

.configuration-page form{
    color: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.configuration-page .input{
    width: 100%;
}

.slider-1,
.slider-2 {
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: #efa2a3;
    outline: none;
    transition: opacity .3s;
    box-shadow: 1px 0px 10px 1px #000
}

.slider-2.disabled{
    background: #737373;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
}

.slider-1::-webkit-slider-thumb,
.slider-2::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: #fff;
    margin-top: -10px;
    cursor: pointer;
}

.slider-1::-moz-range-thumb,
.slider-2::-moz-range-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: #fff;
    margin-top: -10px;
    cursor: pointer;
}

.proposition{
    display: flex;
    justify-content: space-between;
}

.proposition span{
    color: #fff;
}

.line-1,
.line-2,
.line-3 {
    display: flex;
    justify-content: space-between;
}

.line-1 button,
.line-2 button,
.line-3 button {
    width: 100%;
    font-size: 15px;
    padding: 1.5rem;
    border-radius: 20px;
    background: #efa2a3;
    border: 1px solid #000;
    cursor: pointer;
    transition: .3s;
}

.line-1 button:hover,
.line-2 button:hover,
.line-3 button:hover {
    background: #c68788;
}

.btn-theme.selected{
    background: #daa5a6;
}

.global-settings {
    width: 100%;
}

.toggle-btn-1,
.toggle-btn-2{
    position: relative;
    width: 60px;
    height: 30px;
    background: #737373;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    cursor: pointer;
    transition: background-color 0.4s;
    margin-right: 1rem;
}

.circle-1,
.circle-2{
    position: absolute;
    left: 3px;
    top: 2px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    transition: left .4s;
}

.circle-1.on,
.circle-2.on{
    left: 33px;
    right: 3px;
}

.toggle-btn-1.on,
.toggle-btn-2.on {
    background: #efa2a3;
}

.global-toggle-1,
.global-toggle-2{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.global-toggle-1 p,
.global-toggle-2 p{
    color: #fff;
    text-shadow:
        0 0 5px #efa2a3,
        0 0 10px #efa2a3,
        0 0 20px #efa2a3,
        0 0 40px #efa2a3;
}

.global-submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.jouer-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #efa2a3;
    padding: 1rem;
    border-radius: 10px;
    font-size: 20px;
    transition: .3s;
    cursor: pointer;
    border: none;
}

.jouer-btn:disabled{
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.jouer-btn:hover {
    background: #c68788;
}

/* Help Page */

.help-page {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.help-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    color: #fff;
}

.help-details h1{
    font-size: 3rem;
    text-shadow:
        0 0 20px #efa2a3,
        0 0 40px #efa2a3,
        0 0 60px #efa2a3,
        0 0 100px #efa2a3;
}

.help-details p{
    font-size: 20px;
    padding-bottom: 10px;
}

.paragraphe-decale{
    margin-left: 50px;
}

