<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css">
</head>
<body>
 
    {% if win == True%}
        <div class="result-container">
            <h1>Fin De La Partie</h1>
            <p class="fin-partie">Tu as <span class="span-gagner">gagner</span> !</p>

            <h2>Resultat de la partie</h2>
            <p class="p-resultat">Mot trouvé : <strong>{{mot}}</strong></p>
            <p class="fin-partie p-resultat">Nombre d'erreur : <strong>{{compteur}}</strong></p>

            <a href="{{url_for('routes.welcome', _anchor='menu-page', config='true')}}" class="btn-rejouer">rejouer</a>
            <a href="{{url_for('routes.welcome')}}" class="btn-quitter">quitter</a>
        </div>
    {% elif win == False %}
        <div class="result-container">
            <h1>Fin De La Partie</h1>
            <p class="fin-partie">tu as <span class="span-perdu">perdu...</span></p>

            <h2>Resultat de la partie</h2>
            <p class="p-resultat">Mot non trouvé : <strong>{{mot}}</strong></p>
            <p class="fin-partie p-resultat">Nombre d'erreur : <strong>{{compteur}}</strong></p>

            <a href="{{url_for('routes.welcome', _anchor='menu-page', config='true')}}" class="btn-rejouer">rejouer</a>
            <a href="{{url_for('routes.welcome')}}" class="btn-quitter">quitter</a>
        </div>
    {% endif %}
  
    <div class="global-container">
        <button class="btn-mute"></button>
        <div class="global-indice">
            {% if indice != None %}
                <button class="indice-btn"><i class="ri-question-mark"></i></button>
            {% endif %}

            <div class="indice">
                <p>{{indice}}</p>
            </div>
        </div>

        <div class="global-body-part">
            {% if win == True %}
                <img src="../static/img/pendu/win.png">
            {% elif win == False %}
                <img src="../static/img/pendu/lost.png">
            {% else %}
                {% if nombre_essais_restant %}
                    <img src="../static/img/pendu/{{image_index}}.png">
                {% else %}
                    <img src="../static/img/pendu/{{image_index}}.png">
                {% endif %}
            {% endif %}
        </div>

        <div class="global-word-part">
            <div class="word-part">
                {% if win == None %}
                    {% for l in mot_cache %}
                        {% if l == ' ' %}
                            <p class="space"></p>
                        {% else %}
                            <p class="mot-en-cours">{{l}}</p>
                        {% endif %}
                    {% endfor %}

                {% elif win == True %}
                    {% for l in mot_cache %}
                        <p class="mot-trouver">{{l}}</p>
                    {% endfor %}

                {% elif win == False %}
                    {% for l in mot %}
                        <p class="mot-non-trouver">{{l}}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="letters-part">
                <form action="/take_chance" method="POST">
                    <div class="line-1">
                        {% if win == None %}
                            {% for i in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'] %}
                                {% if i in lettre_selectionne %}
                                    <button type="submit" name="letters" value="{{i}}" class="btn-letters disabled">{{i}}</button>
                                {% else %}
                                    <button type="submit" name="letters" value="{{i}}" class="btn-letters">{{i}}</button>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for i in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'] %}
                                <button class="btn-perdu">{{i}}</button>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="line-2">
                        {% if win == None %}
                            {% for i in ['J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R'] %}
                                {% if i in lettre_selectionne %}
                                    <button type="submit" name="letters" value="{{i}}" class="btn-letters disabled">{{i}}</button>
                                {% else %}
                                    <button type="submit" name="letters" value="{{i}}" class="btn-letters">{{i}}</button>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for i in ['J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R'] %}
                                <button class="btn-perdu">{{i}}</button>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="line-3">
                        {% if win == None %}
                            {% for i in ['S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'] %}
                                {% if i in lettre_selectionne %}
                                    <button type="submit" name="letters" value="{{i}}" class="btn-letters disabled">{{i}}</button>
                                {% else %}
                                    <button type="submit" name="letters" value="{{i}}" class="btn-letters">{{i}}</button>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for i in ['S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'] %}
                                <button class="btn-perdu">{{i}}</button>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <input type="hidden" name="ticket" value="{{ticket_triche}}">
                </form>
            </div>
        </div>
    </div>
    <script>
        let winJs = "{{ 'true' if win != None else 'false'}}"
        let winFlask = "{{ 'true' if win == True else 'false' if win == False else 'none'}}"
        let lettreDansMot = "{{lettre_dans_mot}}"
        const btnMute = document.querySelector('.btn-mute')

        const correctSong = new Audio("{{url_for('static', filename='sons/correct.mp3')}}")
        correctSong.volume = 0.3;
        const wrongSong = new Audio("{{url_for('static', filename='sons/wrong.mp3')}}")
        wrongSong.volume = 0.5;
        const winSong = new Audio("{{url_for('static', filename='sons/win.mp3')}}")
        winSong.volume = 0.3;
        const looseSong = new Audio("{{url_for('static', filename='sons/loose.mp3')}}")
        const gameSong = new Audio("{{url_for('static', filename='sons/game.mp3')}}")
        gameSong.volume = 0.3;

        // Song d'ambiance 

        gameSong.loop = true;
        let saveVolume = localStorage.getItem('audioMuted');
        gameSong.volume = parseFloat(saveVolume ?? 0.3);

        let currentTime = localStorage.getItem('audioTime');
        if (currentTime) {
            gameSong.currentTime = parseFloat(currentTime);
        }

        gameSong.play();

        window.onbeforeunload = function () {
            localStorage.setItem('audioTime', gameSong.currentTime);
        }

        if (gameSong.volume > 0) {
            btnMute.innerHTML = '<i class="ri-volume-up-line"></i>';
        } else {
            btnMute.innerHTML = '<i class="ri-volume-mute-line"></i>';
        }

        // Song de touches

        if (winJs === 'true') {
            gameSong.pause();
            if (winFlask === 'true') {
                winSong.play()
            } else {
                looseSong.play()
            }
        } else {
            if (lettreDansMot == '1') {
                correctSong.play()
            } else if (lettreDansMot == '0') {
                wrongSong.play()
            }
        }

        // bouton mute

        btnMute.addEventListener('click', () => {
            if (gameSong.volume === 0.3) {
                gameSong.volume = 0;
                btnMute.innerHTML = '<i class="ri-volume-mute-line"></i>';
            } else {
                gameSong.volume = 0.3;
                btnMute.innerHTML = '<i class="ri-volume-up-line"></i>';
            }
            localStorage.setItem('audioMuted', gameSong.volume)
        })

        // Fondu 

    </script>
    <script src="../static/js/index.js"></script>
</body>
</html>