<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css">
</head>
<body>
 
    {% if win == True%}
        <div class="result-container">
            <p>gagner</p>
            <a href="{{url_for('routes.welcome')}}">quitter</a>
        </div>
    {% elif win == False %}
        <div class="result-container">
            <p>perdue</p>
            <a href="{{url_for('routes.welcome')}}">quitter</a>
        </div>
    {% endif %}
  
    <div class="global-container">
        <div class="global-body-part">
            {% if win == True %}
                <img src="../static/img/pendu/win.png">
            {% elif win == False %}
                <img src="../static/img/pendu/lost.png">
            {% else %}
                {% if nombre_essais_restant %}
                    <img src="../static/img/pendu/{{image_index}}.png">
                {% else %}
                    <img src="../static/img/pendu/{{image_index}}.png">
                {% endif %}
            {% endif %}
        </div>

        <div class="global-word-part">
            <div class="word-part">
                {% if win == None %}
                    {% for l in mot_cache %}
                        {% if l == ' ' %}
                            <p class="space"></p>
                        {% else %}
                            <p class="mot-en-cours">{{l}}</p>
                        {% endif %}
                    {% endfor %}

                {% elif win == True %}
                    {% for l in mot_cache %}
                        <p class="mot-trouver">{{l}}</p>
                    {% endfor %}

                {% elif win == False %}
                    {% for l in mot %}
                        <p class="mot-non-trouver">{{l}}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="letters-part">
                <form action="/take_chance" method="POST">
                    <div class="line-1">
                        {% if win == None %}
                            {% for i in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'] %}
                                {% if i in lettre_selectionne %}
                                    <button type="submit" name="letters" value="{{i}}" class="btn-letters disabled">{{i}}</button>
                                {% else %}
                                    <button type="submit" name="letters" value="{{i}}" class="btn-letters">{{i}}</button>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for i in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'] %}
                                <button class="btn-perdu">{{i}}</button>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="line-2">
                        {% if win == None %}
                            {% for i in ['J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R'] %}
                                {% if i in lettre_selectionne %}
                                    <button type="submit" name="letters" value="{{i}}" class="btn-letters disabled">{{i}}</button>
                                {% else %}
                                    <button type="submit" name="letters" value="{{i}}" class="btn-letters">{{i}}</button>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for i in ['J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R'] %}
                                <button class="btn-perdu">{{i}}</button>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="line-3">
                        {% if win == None %}
                            {% for i in ['S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'] %}
                                {% if i in lettre_selectionne %}
                                    <button type="submit" name="letters" value="{{i}}" class="btn-letters disabled">{{i}}</button>
                                {% else %}
                                    <button type="submit" name="letters" value="{{i}}" class="btn-letters">{{i}}</button>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for i in ['S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'] %}
                                <button class="btn-perdu">{{i}}</button>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <input type="hidden" name="ticket" value="{{ticket_triche}}">
                </form>
            </div>
        </div>
    </div>
    <script>
        let winJs = "{{ 'true' if win != None else 'false'}}"
    </script>
    <script src="../static/js/index.js"></script>
</body>
</html>