<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css">
</head>
<body>
    <div class="global-container">
        <div class="global-body-part">
            {% if win == True %}
                <p>gagner</p>
            {% elif win == False %}
                <p>perdue</p>
            {% else %}
                <p>en cours</p>
            {% endif %}
        </div>

        <div class="global-word-part">
            <div class="word-part">
                {% if win == None %}
                    {% for l in mot_cache %}
                        {% if l == ' ' %}
                            <p class="space"></p>
                        {% else %}
                            <p class="mot-en-cours">{{l}}</p>
                        {% endif %}
                    {% endfor %}

                {% elif win == True %}
                    {% for l in mot_cache %}
                        <p class="mot-trouver">{{l}}</p>
                    {% endfor %}

                {% elif win == False %}
                    {% for l in mot %}
                        <p class="mot-non-trouver">{{l}}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="letters-part">
                <form action="/take_chance" method="POST">
                    <div class="line-1">
                        {% if win == None %}
                            {% for i in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'] %}
                                <button type="submit" name="letters" value="{{i}}">{{i}}</button>
                            {% endfor %}
                        {% else %}
                            {% for i in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'] %}
                                <button class="btn-perdu">{{i}}</button>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="line-2">
                        {% if win == None %}
                            {% for i in ['J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R'] %}
                                <button type="submit" name="letters" value="{{i}}">{{i}}</button>
                            {% endfor %}
                        {% else %}
                            {% for i in ['J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R'] %}
                                <button class="btn-perdu">{{i}}</button>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="line-3">
                        {% if win == None %}
                            {% for i in ['S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'] %}
                                <button type="submit" name="letters" value="{{i}}">{{i}}</button>
                            {% endfor %}
                        {% else %}
                            {% for i in ['S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'] %}
                                <button class="btn-perdu">{{i}}</button>
                            {% endfor %}
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>