<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css">
</head>

<body>
    <main>
        <div class="global-triche">
            <div class="triche-page">
                <h1>Tu a tricher !</h1>
                <h3>Honte à toi</h3>
                <a href="{{url_for('routes.welcome')}}">Retour</a>
            </div>
        </div>
    </main>
</body>

</html>