<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css">
    <script defer src="https://stats.chrisaboukaram.tech/script.js" data-website-id="9539aa19-9c05-4596-9b7b-95d1689785f2"></script>
</head>

<body>
    <main>
        <div class="global-triche">
            <div class="triche-page">
                <h1>Pas si vite, Sherlock !</h1>
                <h3>On a vu ton petit tour de magie... et on n'est pas fans.</h3>
                <a href="{{url_for('routes.welcome')}}">Essayer d'être honnête</a>
            </div>
        </div>
    </main>

    <script>
        const cheatSong = new Audio("{{url_for('static', filename='sons/loose.mp3')}}")
        cheatSong.play();
    </script>
</body>

</html>